body {
  font-family: 'Open Sans', sans-serif;
}

.google-font {
  font-family: 'Open Sans', sans-serif;
}

/*
* Override Bootstrap Navbar because the left mergin is 0.
* this margin should be 16px for navbar.
*/
.navbar {
	margin-left:16px !important;
}