{% extends "_base_layout.html" %}
{% block title %}Error 500{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/error_500.css')}}">
{% endblock %}

{% block content %}
<div class="loading">
  <h1 class="google-font">500</h1>
  <h2 class="google-font">Unexpected Error <b>:(</b></h2>
  <h2 class="google-font">Error: {{ error_msg }}</h2>
  {% for trace_line in trace_list -%}
      <p class="google-font">"{{ trace_line }}"</p>
  {% endfor -%}
  <br/>
  <div class="gears">
    <div class="gear one">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear two">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear three">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="{{url_for('static', filename='js/error_500.js')}}" type="text/javascript"></script>
</div>
{% endblock %}