<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
    <center>
        <h1>{{ title }}</h1>

        <canvas id="diskChart" style="height: 570px; width: 1140px;" width="1425" height="712"></canvas>
        <script>

            var chartConfig = {

                // The type of chart we want to create
                type: 'line',

                // The data for dataset
                data: {
                    labels: [
                        {% for item in labels %}
                            "{{ item }}",
                        {% endfor %}
                    ],
                    datasets: [
                        {
                            label: {{ dataset }},
                            backgroundColor: window.chartColors.red,
                            borderColor: window.chartColors.red,
                            data: [
                                {% for item in values %}
                                    {{ item }},
                                {% endfor %}
                            ]
                            fill: true,
                        }
                    ]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Disk Space Line Chart'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Total Size (GB)'
                            },
                            ticks: {
                                beginAtZero: true,
                                steps: 10,
                                stepValue: 5,
                                max: {{ max }}
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Current Data Size'
                            }
                        }]
                    }
                }
            };

            window.onload = function() {
                var ctx = document.getElementById('diskChart').getContext('2d');
                window.myLine = new Chart(ctx, chartConfig);
            };

        </script>
    </center>
</body>
</html>