<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    
    <!-- DOWNLOAD: Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <!-- CSS: layout base -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">

    <!-- Block to override the title of the page -->
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}

</head>

{% block body_content %}
{% endblock %}

</html>