{% extends "_chart_layout.html" %}
{% block title %}Disk Usage Chart{% endblock %}
{% block head %}
    {{ super() }}

    <!-- Override the javascript code needed for charts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{% endblock %}

{% block body_content %}
<body>
    <center>
        <h3>{{ line_chart_title }}</h3>

        <canvas id="diskLineChart" width="1300" height="620"></canvas>

        <script>
            var lineDatasetName     = "{{ disk_name }}"
            var maxYAxisValue       = {{ disk_total_size }}
            var lineChartSteps      = 11
        </script>

        <script>
            var lineLabelsData =
            [
                {% for item in line_chart_labels %}
                    "{{ item }}",
                {% endfor %}
            ]
        </script>

        <script>
            var lineDatasetData =
            [
                {% for item in line_chart_values %}
                    {{ item }},
                {% endfor %}
            ]
        </script>

        <h3>{{ disk_usage_title }}</h3>

        <canvas id="diskUsageChart" width="600" height="400"></canvas>

        <script>
            var diskUsageDatasetName    = "{{ disk_name }}"
            var maxDiskUsage            = {{ disk_total_size }}
            var diskUsageSteps          = 11
        </script>

        <script>
            var diskUsageLabelsData = [ "{{ disk_usage_label }}" ]
            var diskUsageDatasetData = [ {{ disk_usage_value }} ]
        </script>

        <script src="{{url_for('static', filename='js/disk_chart.js')}}" ></script>

    </center>
</body>
{% endblock %}