<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <link rel="shortcut icon"
        href="{{ url_for('static', filename='img/favicon.ico') }}">
    <style>
        body {
            font-family: 'Open Sans', serif;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <center>
        <h3>{{ title }}</h3>

        <canvas id="diskChart" width="1300" height="620"></canvas>

        <script>
            var datasetName     = "{{ dataset_name }}"
            var maxYAxisValue   = {{ max }}
            var steps = 11
        </script>

        <script>
            var labelsData =
            [
                {% for item in labels %}
                    "{{ item }}",
                {% endfor %}
            ]
        </script>

        <script>
            var datasetData =
            [
                {% for item in values %}
                    {{ item }},
                {% endfor %}
            ]
        </script>

        <script src="{{url_for('static', filename='js/disk_chart.js')}}" ></script>

    </center>
</body>
</html>