{% extends "_base_layout.html" %}
{% block title %}Disk Usage Chart{% endblock %}
{% block head %}
    {{ super() }}

    <!-- Override the javascript code needed for charts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{% endblock %}

{% block content %}
<center>
    <br/>
    <h3>
        {{ disk_manager.get_server_name() }} -
        <b>[</b>
        <span class="disk-ip">
            {{ disk_manager.get_server_ip() }}
        </span>
        <b>]</b>
    </h3>
    <br/>

    <!-- (1) Disk Line Chart -->
    <!------------------------------------------------------------------------------------->
    <h5> Server Disk Usage (Daily) </h5>
    <canvas id="diskLineChart" width="1300" height="620"></canvas>
    <script>
    var maxYAxisValue       = {{ disk_manager.get_max_disk_size() }};
    var lineChartSteps      = 11;

    {% for disk_chart in chart_manager.disk_line_charts.values() -%}
        var {{ disk_chart.data_placeholder }} = [
            {% for data in disk_chart.dataset_data -%}
                {{ data }},
            {% endfor -%}
        ];
    {% endfor %}

    var diskLineChartData = {
        labels: [
            {% for chart_label in chart_manager.line_chart_labels -%}
                '{{ chart_label }}',
            {% endfor -%}
        ],
        datasets: [
            {% for disk_chart in chart_manager.disk_line_charts.values() -%}
                {
                {% for k, v in disk_chart.dataset.definition.items() -%}
                    {%- if v.is_quoted -%}
                        {{ k }}: '{{ v }}',
                    {% else -%}
                        {{ k }}: {{ v }},
                    {% endif -%}
                {% endfor -%}
                },
            {% endfor -%}
        ]
    }
    </script>
    <br/>

    <!-- (2) Disk Usage Chart -->
    <!------------------------------------------------------------------------------------->
    <h5> Disk Usage (Current) </h5>
    <canvas id="diskUsageChart" width="360" height="400"></canvas>
    <script>
    var maxDiskUsage        = {{ disk_manager.get_max_disk_size() }};
    var diskUsageSteps      = 6;

    {% for disk_bar_chart in chart_manager.disk_bar_charts.values() -%}
        var {{ disk_bar_chart.data_placeholder }} = [
            {% for data in disk_bar_chart.dataset_data -%}
                {{ data }},
            {% endfor -%}
        ];
    {% endfor %}

    var diskUsageChartData = {
        labels: [
            {% for bar_chart_label in chart_manager.bar_chart_labels -%}
                '{{ bar_chart_label }}',
            {% endfor -%}
        ],
        datasets: [
            {% for disk_chart in chart_manager.disk_bar_charts.values() -%}
                {
                {% for k, v in disk_chart.dataset.definition.items() -%}
                    {%- if v.is_quoted -%}
                        {{ k }}: '{{ v }}',
                    {% else -%}
                        {{ k }}: {{ v }},
                    {% endif -%}
                {% endfor -%}
                },
            {% endfor -%}
        ]
    }
    </script>

    <script src="{{url_for('static', filename='js/disk_chart.js')}}" ></script>

    <p><a href="{{ url_for('download_file') }}">[Download-File]</a></p>
</center>
{% endblock %}