<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
    <center>
        <h1>{{ title }}</h1>

        <canvas id="diskChart" width="900" height="600"></canvas>
        <script>

        var ctx = document.getElementById('diskChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',
            // The data for our dataset
            data: {
                labels: [
                    {% for item in labels %}
                        "{{ item }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [
                        {% for item in values %}
                            {{ item }},
                        {% endfor %}
                    ]
                }]
            },

            // Configuration options go here
            options: {}
        });

        </script>
    </center>
</body>
</html>