<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
    <center>
        <h1>{{ title }}</h1>

        <canvas id="diskChart" width="1000" height="600"></canvas>

        <script>

            var diskChart = document.getElementById("diskChart");

            Chart.defaults.global.defaultFontFamily = "Lato";
            Chart.defaults.global.defaultFontSize = 18;

            var diskChartData = {
                labels: [
                    {% for item in labels %}
                        "{{ item }}",
                    {% endfor %}
                ],
                datasets: [
                    {
                        label: "{{ dataset_name }}",
                        backgroundColor: "rgba(217, 30, 24, 1)",
                        borderColor: "rgba(217, 30, 24, 1)",
                        data: [
                            {% for item in values %}
                                {{ item }},
                            {% endfor %}
                        ]
                    }
                ]
            };

            var maxChartValue = {{ max }}

            // Disk Chart Options
            // --------------------------------------------------
            var diskChartOptions = {
                responsive: true,
                title: {
                    display: true,
                    text: 'Disk Space Line Chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Total Size (GB)'
                        },
                        ticks: {
                            beginAtZero: true,
                            steps: 10,
                            stepValue: 5,
                            max: maxChartValue
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Current Data Size'
                        }
                    }]
                }
            };

            var lineChart = new Chart(diskChart, {
                type: 'line',
                data: diskChartData,
                options: diskChartOptions
            });

        </script>
    </center>
</body>
</html>